#list {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      width: 40%;
      margin: 1% 5%;
      text-align: center;
      cursor: pointer;

      &:hover {
        border: 1px solid #f00;
        margin: 0 4%;
      }
    }
  }
}
